<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#myNavbar" class="navbar-toggle">
        <spam class="icon-bar"></spam>
        <spam class="icon-bar"></spam>
        <spam class="icon-bar"></spam>
      </button>
      <%= link_to "Retiro com Cristo", root_path, class:"navbar-brand" %>

    </div>
    <%= render 'layouts/header_links' %>
  </div>
</nav>